@charset "UTF-8";

/* ーーーー */
/* 共通要素 */
/* ーーーー */

body{
  font-size: 14px;
  font-family: Arial, ヒラギノ角ゴシック, ヒラギノ角ゴProN, 明瞭, sans-serif;
}

.range {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.headline {
  text-align: center;
  margin-bottom: 20px; /* コンテンツとの間に余白を追加 */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.headline p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}


/* ーーーーーーーー */
/* ファーストビュー */
/* ーーーーーーーー */

.hero {
  margin-bottom: 80px;
  position: relative;
}

.hero__logo {
  position: absolute;
  top: 30px;
  right: 30px;
}

.back img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}


/* ーー */
/* 挨拶 */
/* ーー */

.greeting{
  margin-bottom: 80px;
}

.greeting__list {
  display: flex;
  justify-content: space-between;
}

.greeting__list__archive, .greeting__list__new {
  width: 49%;
  position: relative;
  margin-top: 40px;
}

.greeting___image__archive, .greeting___image__new {
  width: 100%;
  height: auto;
}

.greeting__list__head {
  max-width: 290px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}

.greeting__list{
  justify-content: center; /* 中央揃え */
  font-size: 20px;
  font-weight: bold;
  color: #fff !important; /* 白い文字 */
  margin-bottom: 20px; /* コンテンツとの間に余白を追加 */
}

.greeting__list__text {
  font-size: 16px;
  color: #fff; /* 白い文字 */
  display: flex;
  font-weight: normal;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  height: 100%; /* 親要素の高さに合わせる */
  text-align: center; /* テキストの中央揃え */
}


/* ーー */
/* ファション */
/* ーー */

.fashion{
  margin-bottom: 80px;
}

.fashion{
  margin-bottom: 80px;
}

.fashion__image{
  position: relative;
  z-index: 0; 
}

.fashion__image img{
  height: 520px;
  background-position: center top;
}

.fashion__head {
  position: absolute;
  padding-top: 60px;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%; 
  text-align: center;
}

/* ーー */
/* カタログ */
/* ーー */

.product {
  background-color: #F5F5F5;
}

.product__inner {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2-column grid */
  gap: 60px;
  justify-content: space-between;
  padding: 60px 0;
}

.product__inner p {
  margin-bottom: 30px;
  text-align: left;
}

.product__media__category {
  margin-bottom: 40px;
}

.product__inner img {
  width: 100%;
  height: auto;
  display: block;
}

.product__media__image__catalog,
.product__media__image__antique {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.product__media__head {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直方向の中央揃え */
  padding: 15px;
  border-radius: 4px;
  height: 100%; /* 高さを100%に設定 */
}

.product .btn{
  display: inline-block;
  border: solid 1px #2b2a27;
  font-size: 0.875rem;
  margin-top: 30px;
  padding: 18px 60px;
  text-decoration: none;
}

.btn:hover {
  background-color: #2b2a27;
}


/* ーーーー */
/* フッター */
/* ーーーー */

footer {
  background-color: #333; /* フッターの背景色 */
  color: #fff; /* テキストの色 */
}

.footer__inner {
  display: flex; /* Flexboxを使用 */
  justify-content: space-between; /* 要素間にスペースを均等に配置 */
  align-items: start; /* アイテムを上に揃える */
  max-width: 1200px; /* フッター全体の最大幅 */
  margin: 0 auto; /* フッター全体を中央に配置 */
  padding: 100px 20px; /* 左右にパディングを追加して均等に配置 */
  box-sizing: border-box; /* パディングが含まれるように */
}

.footer__logo, .footer__info, .footer__sentence {
  flex: 1; /* Each item takes up equal space */
  padding: 20px;
}

.footer__info, .footer__sentence {
  width: calc(100% / 3);
  padding: 0 20px; /* セクション内に余白を追加 */
  text-align: left; /* テキストを左揃え */
}

.footer__info__title, .footer__sentence__title {
  font-weight: bold; /* タイトルを太字にする */
  margin-bottom: 10px; /* タイトル下に余白 */
  font-size: 16px;
}

.footer__info ul {
  list-style-position: inside; /* リストマーカーをテキストの内側に表示 */
  padding: 0; /* パディングを削除 */
  margin: 0; /* マージンを削除 */
}

.footer__info__flex a {
  color: #fff; /* リンクの色 */
  font-size: 12px;
  text-decoration: none; /* リンクの下線を削除 */
}

.footer__info__flex a:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}

.footer__sentence__text {
  line-height: 1.5; /* 行間を広げて読みやすくする */
}

.footer__copyright {
  margin-top: 20px; /* フッター内の上に余白 */
  color: #000;
  background-color: #fff;
  padding-top: 10px; /* ボーダーとテキストの間に余白 */
  text-align: center; /* コピーライトテキストを中央揃え */
  padding: 30px 0;
}




@media screen and (max-width: 768px) {
  /* 画面幅が768px以下の場合 */
  
  /* 全体のパディングを調整 */
  .range {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* ヒーロー画像の調整 */
  .hero {
    margin-bottom: 80px;
  }
  .hero__logo {
    top: 20px;
    right: 20px;
  }


  /* グリーティングセクションの調整 */
  .greeting__list {
    flex-direction: column;
  }
  .greeting__list__archive, .greeting__list__new {
    width: 100%;
    margin-top: 20px;

  }
  .greeting__list__head {
    max-width: 100%;
    position: absolute; /* 要素を中央に配置するために必要 */
    top: 40%; /* 縦方向の中央揃え */
    text-align: center; /* テキストの中央揃え */
  }
  
  /* ファッションセクションの調整 */
  .fashion {
    display: block;
  }
  .fashion__head {
    padding-top: 30px;
    transform: translate(-50%, 0%);
  }


  .fashion__image img{
    height: 520px;
  }


  /* プロダクトセクションのグリッドを1カラムに変更 */
  .product__inner {
    grid-template-columns: 1fr; /* 1-column grid */
    gap: 30px;
  }
  .product__media__image__catalog, .product__media__image__antique {
    width: 100%;
  }

  /* フッターのレイアウトを縦方向に変更 */

  .footer__inner {
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the start (left) */
    text-align: left; /* Aligns text to the left */
  }

  .footer__info, .footer__sentence {
      padding: 20px 0;
  }

  .footer__logo {
      display: flex;
      justify-content: center; /* Centers the logo */
      width: 100%; /* Ensures the logo container takes full width */
  }

  .footer__logo img {
      max-width: 100%;
  }

  .footer__copyright {
      margin-top: 10px;
      padding: 20px 0;
  }
}